{{ "<!-- EVENTS -->" | safeHTML }}
<section id="events">
    {{ with .Site.Params.events.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Find all events of the GDG Fribourg on <a href="http://www.meetup.com/gdgfribourg">meetup</a>
                </p>
                <meetup-event title="I/O Extended 2018 Fribourg" date="2018-05-08" url="https://www.meetup.com/fr-FR/GDGFribourg/events/249029354/"></meetup-event>
            </div>
        </div>
    </div>
</section>
