{{ "<!-- SERVICES -->" | safeHTML }}
<section class="bg-primary" id="services">
    {{ with .Site.Params.services.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="row row-eq-height">
            {{ range .Site.Params.services.list }}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="icofont icofont-4x {{ .icon }} wow bounceIn text-light"></i>
                    <h3>{{ .title }}</h3>
                    {{ with .description }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
